<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>EduSystem</title>

<link rel="stylesheet" href="../src/styles/app.css">

<!-- ChartJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    <!-- ===== SIDEBAR ===== -->
    <aside class="sidebar">

    <div class="logo">
    <i class="fa-solid fa-graduation-cap"></i>
    <h2>EduSystem</h2>
    </div>

    <nav>

    <a class="active"><i class="fa-solid fa-home"></i> Home</a>
    <a><i class="fa-solid fa-chalkboard"></i> Turmas</a>
    <a><i class="fa-solid fa-user-graduate"></i> Alunos</a>
    <a><i class="fa-solid fa-file-lines"></i> Notas</a>
    <a><i class="fa-solid fa-calendar"></i> Calendário</a>
    <a><i class="fa-solid fa-list-check"></i> Atividades</a>

    </nav>

    </aside>

    <!-- ===== MAIN CONTENT ===== -->
    <main>

        <!-- HEADER -->
        <header class="topbar">

        <div></div>

        <div class="user">

        <div>
        <h4>Teste</h4>
        <span>Admin</span>
        </div>

        <div class="avatar">
        T
        </div>

        </div>

        </header>

        
    </main>

    <script src="../src/scripts/chart.js"></script>

</body>
</html>